In [1]:
import pandas as pd
from tqdm import tqdm
from transformers import BertTokenizer
import warnings
warnings.filterwarnings("ignore")

In [2]:
tokenizer = BertTokenizer.from_pretrained("bert-base-uncased")

In [3]:
train_path = "../data/train.csv"
test_path = "../data/test.csv"

In [4]:
train_df = pd.read_csv(train_path)
train_df.head()

,discourse_id,essay_id,discourse_text,discourse_type,discourse_effectiveness
0,0013cc385424,007ACE74B050,"Hi, i'm Isaac, i'm going to be writing about h...",Lead,Adequate
1,9704a709b505,007ACE74B050,"On my perspective, I think that the face is a ...",Position,Adequate
2,c22adee811b6,007ACE74B050,I think that the face is a natural landform be...,Claim,Adequate
3,a10d361e54e4,007ACE74B050,"If life was on Mars, we would know by now. The...",Evidence,Adequate
4,db3e453ec4e2,007ACE74B050,People thought that the face was formed by ali...,Counterclaim,Adequate

In [5]:
test_df = pd.read_csv(test_path)
test_df.head()

,discourse_id,essay_id,discourse_text,discourse_type
0,a261b6e14276,D72CB1C11673,Making choices in life can be very difficult. ...,Lead
1,5a88900e7dc1,D72CB1C11673,Seeking multiple opinions can help a person ma...,Position
2,9790d835736b,D72CB1C11673,it can decrease stress levels,Claim
3,75ce6d68b67b,D72CB1C11673,a great chance to learn something new,Claim
4,93578d946723,D72CB1C11673,can be very helpful and beneficial.,Claim

In [6]:
max_length = 0
for row in tqdm(train_df.iterrows()):
    sentence = row[1]["discourse_type"] + row[1]["discourse_text"]
    tokens = tokenizer(sentence)
    max_length = max(max_length, len(tokens["input_ids"]))
print(max_length)

658it [00:00, 803.64it/s]Token indices sequence length is longer than the specified maximum sequence length for this model (581 > 512). Running this sequence through the model will result in indexing errors
36765it [00:45, 803.45it/s]

914