In [1]:
pwd

'E:\\nlp\\bert_classification\\notebooks'

In [3]:
import pandas as pd
import numpy as np
from transformers import BertTokenizer
from transformers import BertConfig, BertModel

In [4]:
path = "../data/train.csv"

In [5]:
df = pd.read_csv(path)
df.head()

,discourse_id,essay_id,discourse_text,discourse_type,discourse_effectiveness
0,0013cc385424,007ACE74B050,"Hi, i'm Isaac, i'm going to be writing about h...",Lead,Adequate
1,9704a709b505,007ACE74B050,"On my perspective, I think that the face is a ...",Position,Adequate
2,c22adee811b6,007ACE74B050,I think that the face is a natural landform be...,Claim,Adequate
3,a10d361e54e4,007ACE74B050,"If life was on Mars, we would know by now. The...",Evidence,Adequate
4,db3e453ec4e2,007ACE74B050,People thought that the face was formed by ali...,Counterclaim,Adequate

In [18]:
tokenizer = BertTokenizer.from_pretrained("bert-base-uncased")
tokenizer.model_max_len = 128
tokenizer

PreTrainedTokenizer(name_or_path='bert-base-uncased', vocab_size=30522, model_max_len=512, is_fast=False, padding_side='right', truncation_side='right', special_tokens={'unk_token': '[UNK]', 'sep_token': '[SEP]', 'pad_token': '[PAD]', 'cls_token': '[CLS]', 'mask_token': '[MASK]'})

In [30]:
for sent in df["discourse_text"][:3]:
    print(tokenizer(sent)["token_type_ids"], end="\n\n")

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [31]:
for sent in df["discourse_text"][:5]:
    print(tokenizer(sent)["attention_mask"], end="\n\n")

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [29]:
for sent in df["discourse_text"][:3]:
    print(tokenizer.encode(sent), end="\n\n")

[101, 7632, 1010, 1045, 1005, 1049, 7527, 1010, 1045, 1005, 1049, 2183, 2000, 2022, 3015, 2055, 2129, 2023, 2227, 2006, 7733, 2003, 1037, 3019, 2455, 14192, 2030, 2065, 2045, 2003, 2166, 2006, 7733, 2008, 2081, 2009, 1012, 1996, 2466, 2003, 2055, 2129, 9274, 2165, 1037, 3861, 1997, 7733, 1998, 1037, 2227, 2001, 2464, 2006, 1996, 4774, 1012, 9274, 2987, 1005, 1056, 2113, 2065, 1996, 2455, 14192, 2001, 2580, 2011, 2166, 2006, 7733, 1010, 2030, 2065, 2009, 2003, 2074, 1037, 3019, 2455, 14192, 1012, 102]

[101, 2006, 2026, 7339, 1010, 1045, 2228, 2008, 1996, 2227, 2003, 1037, 3019, 2455, 14192, 2138, 1045, 2123, 2102, 2228, 2008, 2045, 2003, 2151, 2166, 2006, 7733, 1012, 1999, 2122, 2279, 2261, 20423, 2015, 1010, 1045, 1005, 2222, 2022, 3331, 2055, 2129, 1045, 2228, 2008, 2003, 2003, 1037, 3019, 2455, 14192, 102]

[101, 1045, 2228, 2008, 1996, 2227, 2003, 1037, 3019, 2455, 14192, 2138, 2045, 2003, 2053, 2166, 2006, 7733, 2008, 2057, 2031, 4078, 3597, 25896, 2664, 102]

In [28]:
for sent in df["discourse_text"][:5]:
    print(tokenizer.tokenize(sent), end="\n\n")

['hi', ',', 'i', "'", 'm', 'isaac', ',', 'i', "'", 'm', 'going', 'to', 'be', 'writing', 'about', 'how', 'this', 'face', 'on', 'mars', 'is', 'a', 'natural', 'land', '##form', 'or', 'if', 'there', 'is', 'life', 'on', 'mars', 'that', 'made', 'it', '.', 'the', 'story', 'is', 'about', 'how', 'nasa', 'took', 'a', 'picture', 'of', 'mars', 'and', 'a', 'face', 'was', 'seen', 'on', 'the', 'planet', '.', 'nasa', 'doesn', "'", 't', 'know', 'if', 'the', 'land', '##form', 'was', 'created', 'by', 'life', 'on', 'mars', ',', 'or', 'if', 'it', 'is', 'just', 'a', 'natural', 'land', '##form', '.']

['on', 'my', 'perspective', ',', 'i', 'think', 'that', 'the', 'face', 'is', 'a', 'natural', 'land', '##form', 'because', 'i', 'don', '##t', 'think', 'that', 'there', 'is', 'any', 'life', 'on', 'mars', '.', 'in', 'these', 'next', 'few', 'paragraph', '##s', ',', 'i', "'", 'll', 'be', 'talking', 'about', 'how', 'i', 'think', 'that', 'is', 'is', 'a', 'natural', 'land', '##form']

['i', 'think', 'that', 'the', 'face', 'is', 'a', 'natural', 'land', '##form', 'because', 'there', 'is', 'no', 'life', 'on', 'mars', 'that', 'we', 'have', 'des', '##co', '##vered', 'yet']

['if', 'life', 'was', 'on', 'mars', ',', 'we', 'would', 'know', 'by', 'now', '.', 'the', 'reason', 'why', 'i', 'think', 'it', 'is', 'a', 'natural', 'land', '##form', 'because', ',', 'nobody', 'live', 'on', 'mars', 'in', 'order', 'to', 'create', 'the', 'figure', '.', 'it', 'says', 'in', 'paragraph', '9', ',', '"', 'it', "'", 's', 'not', 'easy', 'to', 'target', 'cy', '##don', '##ia', ',', '"', 'in', 'which', 'he', 'is', 'saying', 'that', 'its', 'not', 'easy', 'to', 'know', 'if', 'it', 'is', 'a', 'natural', 'land', '##form', 'at', 'this', 'point', '.', 'in', 'all', 'that', 'they', "'", 're', 'saying', ',', 'its', 'probably', 'a', 'natural', 'land', '##form', '.']

['people', 'thought', 'that', 'the', 'face', 'was', 'formed', 'by', 'ali', '##ean', '##s', 'because', 'they', 'thought', 'that', 'there', 'was', 'life', 'on', 'mars', '.']